.window-modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;

  &__container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 40px;
    background-color: #403E41;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: grab;
    position: relative;
  }

  &__close {
    margin: 5px 5px 0 0;
    width: 30px;
    height: 30px;
    background-image: url(../../images/WindowModal/close.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    cursor: pointer;
    border: none;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 300px;
    resize:both;
    overflow:auto;
    background-color: #282E33;
  }
}